<!-- This file will be used to display the report or analysis from the graph created on the backend-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script type="text/javascript" src="/js/report.js"></script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        function getExpenses() {
            const target = '/getExpenses';
            let request = new XMLHttpRequest();
            request.open("GET", target);
            request.send();
            console.log("sending request...");
            let txnElement = document.getElementById('myDiv');
            request.onreadystatechange = function() {
                if(request.readyState == 4) {
                    if(request.status == 200) {
                        let lines = JSON.parse(request.responseText);
                        txnElement.innerHTML = request.responseText;
                        //Plotly.plot("myDiv", data);
                    }else{
                        txnElement.innerHTML = "error";
                    }
                }
            }
        }
    </script>
    <title>Expense Form</title>
</head>
<body>
    <p>Expense Form</p>
    <form action='/addExpense' method='post'>
        <label>Date</label>
        <input type='date' name='date'>
        <label>Payment To</label>
        <input type='text' name='payment_to'>
        <label>Method</label>
        <select name='method'>
            <option value='cash'>Cash</option>
            <option value='credit'>Credit</option>
            <option value='debit'>Debit</option>
            <option value='check'>Check</option>
        </select>
        <label>Category</label>
        <select name='category'>
            <option value='home'>Home</option>
            <option value='auto'>Auto</option>
            <option value='food'>Food</option>
            <option value='entertainment'>Entertainment</option>
            <option value='miscellaneous'>Miscellaneous</option>
            <option value="charity">Charity</option>
            <option value="water">Water</option>
            <option value="gas">Gas</option>
            <option value="electric">Electric</option>
            <option value="internet">Internet</option>
            <option value='phone'>Phone</option>
        </select>
        <label>Description</label>
        <input type='text' name='description'>
        <label>Amount</label>
        <!-- type number only allows integers -->
        <input type='text' name='amount'>
        <input type='submit' value='Add Expense'>
    </form>
    <button onclick='getExpenses()'>Show Expenses</button>
    <div id="myDiv" style="width:600px;height:250px;"></div>
</body>
</html>