<!-- Welcome page with links and such :) -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Finance Analyst - Welcome</title>
</head>
<body>
    <h1>Welcome to Finance Analyst!</h1>
    <form action="/expense_form" method="GET">
       <input type='submit' name='getExpensePage' value='Add Transaction'>
    </form>
    <form action="/report_page" method="GET">
        <input type='submit' name='getReportPage' value="Report">
    </form>
    <h2>See the absolute values for each of your spending categories change over time.</h2>
    <h2>About</h2>
    <p> Hello, this personal finance analyst tool was created for my senior project.
        I used a Python script on the backend to organize, wrangle, and agregate the data.
        I learned to use Python panda dataframes, pivot tables, and other Python objects
        and functions. 
    </p>
    <h2>Resources</h2>
    <a href="https://www.thebalance.com/best-personal-finance-books-4154809">Financial Self-Help Books</a>
    <br>
    <a href="https://www.themuse.com/advice/50-personal-finance-tips-that-will-change-the-way-you-think-about-money">50 Personal Financial Tips that will change the way you think about money - TheMuse</a>"
</body>
</html>