<!-- This file will be used to display the report or analysis from the graph created on the backend-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script type="text/javascript" src="/js/report.js"></script> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        function getReport() {
            const startDate = document.getElementById('start').value;
            const endDate = document.getElementById('end').value;
            const totalBool = document.getElementById('total').checked;
            let totalBool_string = "";
            if (totalBool) {
                totalBool_string = "on";
            } else {
                totalBool_string = 'off';
            }
            const endpoint = '/getReport';
            const params = `?startDate='${startDate}'&endDate='${endDate}'&total='${totalBool_string}'`;
            let request = new XMLHttpRequest();
            const target = endpoint + params;
            request.open("GET", target);    
            request.send();
            console.log("sending request...");
            let reportElement = document.getElementById('myDiv');
            request.onreadystatechange = function() {
                if(request.readyState == 4) {
                    if(request.status == 200) {
                        let oldString = request.responseText;
                        let string = oldString.replace(/\\/g, '');
                        let stringB = string.replace(/\"\[/g, '[');
                        let stringC = stringB.replace(/\]\"/g, ']');
                        let stringE = stringC.replace(/\",\[/g, '[');
                        let stringD = stringE.replace(/\],\"/g, ']');
                        let results = stringD.substring(2, stringD.length - 2);
                        console.log(results);
                        let lines = "";
                        if (results) {
                            lines = JSON.parse(results);
                            console.log(lines);
                            let data = [];
                            if (totalBool) {
                                data = [lines.income, lines.total_expenses, lines.balance];
                            } else {
                                data = [lines.income, lines.home, lines.auto,
                                lines.food, lines.entertainment, lines.miscellaneous, lines.charity,
                                lines.water, lines.gas, lines.electric, lines.internet, lines.phone];
                            }
                            document.getElementById('myDiv').innerHTML = '';
                            Plotly.plot("myDiv", data);
                        } else {
                            reportElement.innerHTML = "<br><br><p>  NO DATA </p>";
                        }
                    }else{
                        reportElement.innerHTML = "error";
                    }
                }
            }
        }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report</title>
</head>
<body>
    <p>Report</p>
    <a href='home.html'>Home</a>
    <div id="myDiv" style="width:1200px;height:500px;"></div>
       <label>Start Date</label>
       <input type='date' name='start' value='2019-06-01' id='start'>
       <label>End Date</label>
       <input type='date' name='end' value='2019-06-30' id='end'>
       <label>Show Balance</label>
       <input type="checkbox" name='total' id='total'>
       <button type='button' value='Get Report' onclick='getReport()'>Get Report</button>
</body>
</html>