<!-- This file will be used to display the report or analysis from the graph created on the backend-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script type="text/javascript" src="/js/report.js"></script> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        // window.onload = function() {
        //     let element = document.getElementById('myDiv');
        //     let income = {
        //        x: [2015, 2016, 2017, 2018],
        //        y: [20000, 10000, 500, 300],
        //        type: 'scatter'
        //     };

        //     let home = {
        //         x: [2015, 2016, 2017, 2018],
        //         y: [200, 100, 500, 1000],
        //         type: 'scatter'
        //     };

        //     let auto = {
        //         x: [2015, 2016, 2017, 2018],
        //         y: [600, 500, 450, 800],
        //         type: 'scatter'
        //     };

        //     let data = [income, home, auto];
        //     Plotly.plot("myDiv", data);
        // }
        function getReport() {
            const startDate = document.getElementById('start').value;
            const endDate = document.getElementById('end').value;
            const endpoint = '/getReport';
            const params = `?startDate='${startDate}'&endDate='${endDate}'`;
            let request = new XMLHttpRequest();
            const target = endpoint + params;
            request.open("GET", target);    
            request.send();
            console.log("sending request...");
            let reportElement = document.getElementById('myDiv');
            request.onreadystatechange = function() {
                if(request.readyState == 4) {
                    if(request.status == 200) {
                        let oldString = request.responseText;
                        let string = oldString.replace(/\\/g, '');
                        let stringB = string.replace(/\"\[/g, '[');
                        let stringC = stringB.replace(/\]\"/g, ']');
                        //alert(`StringC: ${stringC}`)
                        let stringE = stringC.replace(/\",\[/g, '[');
                        let stringD = stringE.replace(/\],\"/g, ']');
                        //alert(`stringD: ${stringD}`);
                        let results = stringD.substring(2, stringD.length - 2);
                      //  alert(`request text: ${results}`);
                        console.log(results);
                        let lines = JSON.parse(results);
                       // alert(`Type of response: ${typeof(request.responseText)}`);
                       // alert(typeof(lines));
                        console.log(lines);
                        //alert(lines);
                        let data = [lines.income, lines.home, lines.auto,
                        lines.food, lines.entertainment, lines.miscellaneous, lines.charity,
                        lines.water, lines.gas, lines.electric, lines.internet, lines.phone];
                     //   alert(lines.income)
                       // alert(data);
                       document.getElementById('myDiv').innerHTML = '';
                        Plotly.plot("myDiv", data);
                    }else{
                        reportElement.innerHTML = "error";
                    }
                }
            }
        }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report</title>
</head>
<body>
    <p>Report</p>
    <!--<button onclick='getReport()'>Show Report</button> -->
    <div id="myDiv" style="width:1200px;height:500px;"></div>
       <label>Start Date</label>
       <input type='date' name='start' value='2019-06-01' id='start'>
       <label>End Date</label>
       <input type='date' name='end' value='2019-06-30' id='end'>
       <button type='button' value='Get Report' onclick='getReport()'>Get Report</button>
</body>
</html>